body {
    font-size: 16px;
    font-family: 'Roboto Regular', sans-serif;
    margin: 0;
    background-color: #FFF;
    color: #262f32;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

p {
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-size: 45px;
    font-family: 'Roboto Light', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1;
}

h3 {
    font-size: 42px;
    font-family: 'Roboto Black', sans-serif;
}

b {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: normal;
}

.regular {
    font-family: 'Roboto Regular', sans-serif;
}

.black {
    font-family: 'Roboto Black', sans-serif;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 23px;
    text-indent: -999px;
    border-top: 3px solid #262f32;
    border-bottom: 3px solid #262f32;
}

.hamburger-menu::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #262f32;
}

#wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

header {
    padding-right: 458px;
    overflow: hidden;    
}

header aside {
    float: left;
    width: 100%;
    font-size: 0;
}

header section {
    background-color: #f3f3f3;
    max-width: 354px;    
    float: right;
    padding: 50px;
    padding-top: 58px;
    padding-left: 54px;
    margin-right: -458px;
}

header section h1 {
    font-size: 40px;
    line-height: 58px;
    margin-top: 66px;
}

header section p {
    font-size: 18px;    
    margin-top: 40px;
}

header section p+p {
    margin-top: 28px;
}

header aside, header section {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

#main {
    overflow: hidden;    
}

#main p{
    margin-top: 24px;
}

.table {
    display: table;
}

.table-row {
    display: table-row;

}

.table-col {
    display: table-cell;
}


#main .services {
    padding-top: 70px;
    padding-right: 88px;
    padding-left: 58px;
    color: #fff;
    background: 
        linear-gradient(0deg, rgba(30,146,175,0.75), rgba(30,146,175,0.75)),
        url(../imgs/services-img.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;
}

#main .services::after {
    content: '';
    display: block;
    height: 70px;
}


#main .services .service:not(:first-child){
    margin-top: 80px;
}

#main .posts {
    width: 752px;
}

#main .posts .color {
    padding: 70px 162px 70px 54px;
}

#main .posts section a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border: 1px solid;
    border-radius: 11px;
    padding: 16px 0;
    text-align: center;
    font-size: 17px;
    min-width: 214px;
    line-height: 1;
    margin-top: 56px;
}

#main .posts section:nth-child(odd) {
    background: url(../imgs/img-post-2.jpg) no-repeat;
    background-size: cover;
}

#main .posts section:nth-child(odd) .color {
    background-color: rgba(255,244,210, 0.93);
}

#main .posts section:nth-child(even) {
    background: url(../imgs/img-post-1.jpg) no-repeat;
    background-size: cover;
}

#main .posts section:nth-child(even) .color{
    background-color: rgba(22,38,51, 0.75);
    color: #fff;
}

footer {
    color: #fff;
    background-color: grey;
}

footer .table-col{
    padding-top: 54px;
    padding-left: 48px;
    padding-bottom: 54px;
}

footer .copyrights {
        background: 
         linear-gradient(0deg, rgba(29, 83, 103,0.75), rgba(29, 83, 103,0.75)),
        url(../imgs/img-footer-1.jpg) no-repeat 0 0;
}

footer .copyrights h2 {
    line-height: 65px;
}

footer .connect-form {
    background-color: darkgrey;
    width: 854px;
    padding-left: 54px;
    background: 
         linear-gradient(0deg, rgba(90, 102, 95,0.5), rgba(90, 102, 95,0.5)),
        url(../imgs/img-footer-2.jpg) no-repeat 0 0;
}

footer .connect-form h2 {
    margin-bottom: 50px;
}

footer .connect-form form {
    width: 621px;
}

footer .connect-form form p {
    margin-top: 95px;
    margin-bottom: 22px;
}

footer .connect-form > p {
    margin-top: 48px;
}

footer form textarea, footer form input {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 13px;
    color: #fff;
    opacity: 1 !important;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    padding:  20px 15px;
    box-sizing: border-box;
}

footer form input{
    max-height: 59px;
    width: 304px;
}

footer form textarea {
    margin-top: 12px;
    max-height: 163px;
    width: 100%;
    resize: none;
}

footer form .two-column .half-width {
    float: left;
    width: 50%;
}

footer form .two-column .half-width:last-child input{
    float:right;
}

footer .connect-form .socials {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .connect-form .socials li {
    background-color: rgb(52, 91, 180);
    width: 43px;
    height: 43px;
    float: left;
    border-radius: 7px;
    margin-right: 6px;
    position: relative;
}

footer .connect-form .socials .d {
    background-color: #e64895;
}

footer .connect-form .socials .t {
    background-color: #00b4ff;
}

footer .connect-form .socials li a{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -12.5px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../imgs/social-sprites.png);
}

footer .connect-form .socials .f a {
    background-position: -5px -5px;
}

footer .connect-form .socials .d a{
    background-position: -40px -5px;
}

footer .connect-form .socials .t a {
    background-position: -75px -5px;
}



