body {
    font-size: 16px;
    font-family: 'Roboto Regular', sans-serif;
    margin: 0;
    background-color: #FFF;
    color: #262f32;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

p {
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-size: 45px;
    font-family: 'Roboto Light', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1;
}

b {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: normal;
}

.regular {
    font-family: 'Roboto Regular', sans-serif;
}

.black {
    font-family: 'Roboto Black', sans-serif;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 23px;
    text-indent: -999px;
    border-top: 3px solid #262f32;
    border-bottom: 3px solid #262f32;
}

.hamburger-menu::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #262f32;
}

#wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

header {
    padding-right: 458px;
    overflow: hidden;    
}

header aside {
    float: left;
    width: 100%;
    font-size: 0;
}

header section {
    background-color: #f3f3f3;
    max-width: 354px;    
    float: right;
    padding: 50px;
    padding-top: 58px;
    padding-left: 54px;
    margin-right: -458px;
}

header section h1 {
    font-size: 40px;
    line-height: 58px;
    margin-top: 66px;
}

header section p {
    font-size: 18px;    
    margin-top: 40px;
}

header section p+p {
    margin-top: 28px;
}

header aside, header section, #main .services, #main .posts {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

#main {
    padding-right: 752px;
    overflow: hidden;    
}

#main .services {
    width: 100%;
    float:left;
    background-color: #1e92af;
}

#main .posts {
    max-width: 752px;
    float: right;
    margin-right: -752px;
}

#main .posts .color {
    padding: 70px 162px 70px 54px;
}

#main .posts section a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border: 1px solid;
    border-radius: 11px;
    padding: 16px 0;
    text-align: center;
    font-size: 17px;
    min-width: 214px;
    line-height: 1;
    margin-top: 56px;
}

#main .posts section p{
    margin-top: 24px;
}

#main .posts section:nth-child(odd) {
    background: url(../imgs/img-post-2.jpg) no-repeat;
    background-size: cover;
}

#main .posts section:nth-child(odd) .color {
    background-color: rgba(255,244,210, 0.93);
}

#main .posts section:nth-child(even) {
    background: url(../imgs/img-post-1.jpg) no-repeat;
    background-size: cover;
}

#main .posts section:nth-child(even) .color{
    background-color: rgba(22,38,51, 0.75);
    color: #fff;
}






